
.contact-container {
    width: 100%;
    height: 550px;
    padding-top: 80px;
    padding-left: 20px;
    padding-bottom: 200px;
    float:left;
}

.contact-container iframe {
    width: 45%;
    float: left;
    margin-left: 25px;
}

.footer {
    height: 50px;
    width: 100%;
    background-color: #0c202c;
    clear: left;
    padding-top: 25px;
}

.footer-col {
    text-align: center;
    width: 100%;
    background-color: #0c202c;
}

p {
    background-color: #0c202c;
}